<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/result.css' />
    <meta charset="utf-8">
    <!-- 모바일 우선 -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<%
    /*메인 타입 이미지*/
    var type_img = data.type_img;

    /*키워드*/
    var keyword1 = data.type_keyword1;
    var keyword2 = data.type_keyword2;
    var keyword3 = data.type_keyword3;
    var keyword4 = data.type_keyword4;
    var keyword5 = data.type_keyword5;

    /*특징*/
    var type_info1 = data.type_info1;
    var type_info2 = data.type_info2;
    var type_info3 = data.type_info3;
    var type_info4 = data.type_info4;
    var type_info5 = data.type_info5;

    /*대표적인 인물*/
    var type_leader = data.type_leader;

    /*선호하는 업무환경*/
    var type_env1 = data.type_env1;
    var type_env2 = data.type_env2;
    var type_env3 = data.type_env3;

    /*적합한 포지션*/
    var type_position = data.type_position;

    /*앱잼내의 포지션*/
    var type_app = data.type_app;
%>

<body>
    <div class="navbar_logo">
        <div class="logo" style="font-weight: bold; font-size: 20px;">찰떡피플</div>
        <a class="navbar_info" href="./diff_type">6개 협업 유형 보러가기</a>
    </div>

    <div class="resultChar">
        <img class= "resultImg" src= "<%= type_img%>" >
    </div>

    <div class="totalBorder">
    <div class = "resultExplanation">
        <p>
        <div class = "title" style="padding-top: 0px;">  키워드 </div>
            <div style="display: flex;  justify-content: space-between;">
                <div class="keyword"> <%= keyword1 %> </div>
                <div class="keyword"> <%= keyword2 %> </div>
                <div class="keyword"> <%= keyword3 %> </div>
                <div class="keyword"> <%= keyword4 %> </div>
                <div class="keyword"> <%= keyword5 %> </div>
            </div>
        </p>


        <p>
        <div class = "title">  특징 </div>
        <ul><li> <%= type_info1 %> </li>
            <li> <%= type_info2 %> </li>
            <li> <%= type_info3 %> </li>
            <li> <%= type_info4 %> </li>
            <li> <%= type_info5 %> </li> </ul>
        </p>
        <p>
        <div class = "title">  대표적인 인물 </div>
        <div> <%= type_leader %> </div>
        </p>
        <p>
        <div class = "title">  선호하는 업무환경 </div>
        <ul><li> <%= type_env1 %> </li>
            <li> <%= type_env2 %> </li>
            <li> <%= type_env3 %> </li>   </ul>
        </p>

        <p>
        <div class = "title">  적합한 포지션 </div>
        <div> <%= type_position %> </div>
        </p>
        <p>
        <div class = "title">  앱잼내의 포지션</div>
        <div > <%= type_app %> </div>
        </p>
    </div>

    <div class="container">
        <div class = "matchType">
            나랑 가장 잘 맞는 협업 유형
        </div>
        <div class="row">
            <div class="col-sm-6" >
                <img class ="matchTypeImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRKpfrgePQUpZ6NMrdTRfaty_27vCOHDwJYDda2UfZwne6eiim&usqp=CAU">
            </div>
            <div class="col-sm-6">
                <div class ="matchTypeRight">
                    <div class="matchTypeNameTitle"> 찰떡 피플 둘러보기 </div>
                    <table class ="matchTypeName">
                        <tr> <td class="partName">파트</td>  <td class="nickName">닉네임</td>   <td class="partName">파트</td>  <td class="nickName">닉네임</td> </tr>
                        <tr> <td class="partName">파트</td>  <td class="nickName">닉네임</td>   <td class="partName">파트</td>  <td class="nickName">닉네임</td> </tr>
                        <tr> <td class="partName">파트</td>  <td class="nickName">닉네임</td>   <td class="partName">파트</td>  <td class="nickName">닉네임</td> </tr>
                        <tr> <td class="partName">파트</td>  <td class="nickName">닉네임</td>   <td class="partName">파트</td>  <td class="nickName">닉네임</td> </tr>
                    </table>
<!--                    <div class = "matchTypeNameNext">
                         0 0 0 0 0
                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="share">
        <div class = "shareText">
            내 협업 유형 공유하기
        </div>
        <div class = "snsGroup">
            <img class="sns" src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FSq4OD%2Fbtqzlkr13eD%2FdYwFnscXEA6YIOHckdPDDk%2Fimg.jpg">
            <img class="sns" src="https://cdn.pixabay.com/photo/2017/08/20/10/30/facebook-2661207_960_720.jpg">
            <img class="sns" src="https://t1.daumcdn.net/cfile/tistory/99B6AB485D09F2132A">
        </div>
    </div>
    </div>

    <div class ="btnAlign">
        <button class = "typeBtn">다른 타입 구경하러 가기</button>
    </div>

</body>

</html>