<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/result.css' />

    <meta charset="utf-8">
    <!-- 모바일 우선 -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<%
    /*메인 타입 이미지*/
    var type_img = data.type_img;

    /*키워드*/
    var keyword1 = data.type_keyword1;
    var keyword2 = data.type_keyword2;
    var keyword3 = data.type_keyword3;
    var keyword4 = data.type_keyword4;
    var keyword5 = data.type_keyword5;

    /*특징*/
    var type_info1 = data.type_info1;
    var type_info2 = data.type_info2;
    var type_info3 = data.type_info3;
    var type_info4 = data.type_info4;
    var type_info5 = data.type_info5;

    /*대표적인 인물*/
    var type_leader = data.type_leader;

    /*선호하는 업무환경*/
    var type_env1 = data.type_env1;
    var type_env2 = data.type_env2;
    var type_env3 = data.type_env3;

    /*적합한 포지션*/
    var type_position = data.type_position;

    /*앱잼내의 포지션*/
    var type_app = data.type_app;

    /*나랑 잘맞는 유형 이미지*/
    var type_match_img = data.type_match_img;
    var type_medium_img = data.type_medium_img;
%>

<body>
    <div class="navbar_logo">
        <div style="font-weight: bold; font-size: 20px;" ><a href="/"> <img class="logo" src="../images/img-logo@3x.png "></a> </div>
        <a class="navbar_info" href="../diff_type">6개 협업 유형 보러가기</a>
    </div>

    <div class="resultChar">
        <img class= "resultImg" src= "<%= type_img%>" >
    </div>

    <div class="totalBorder">
    <div class = "resultExplanation">
        <p>
        <div class = "title" style="padding-top: 0px;">  키워드 </div>
            <div style="display: flex;  justify-content: space-between;">
                <div class="keyword"> <%= keyword1 %> </div>
                <div class="keyword"> <%= keyword2 %> </div>
                <div class="keyword"> <%= keyword3 %> </div>
                <div class="keyword"> <%= keyword4 %> </div>
                <div class="keyword"> <%= keyword5 %> </div>
            </div>
        </p>


        <p>
        <div class = "title">  특징 </div>
        <ul><li> <%= type_info1 %> </li>
            <li> <%= type_info2 %> </li>
            <li> <%= type_info3 %> </li>
            <li> <%= type_info4 %> </li>
            <li> <%= type_info5 %> </li> </ul>
        </p>
        <p>
        <div class = "title">  대표적인 인물 </div>
        <div> <%= type_leader %> </div>
        </p>
        <p>
        <div class = "title">  선호하는 업무환경 </div>
        <ul><li> <%= type_env1 %> </li>
            <li> <%= type_env2 %> </li>
            <li> <%= type_env3 %> </li>   </ul>
        </p>

        <p>
        <div class = "title">  적합한 포지션 </div>
        <div> <%= type_position %> </div>
        </p>
        <p>
        <div class = "title">  프로젝트 내의 포지션</div>
        <div > <%= type_app %> </div>
        </p>
    </div>

    <div class="container">
        <div class = "matchType">
            나랑 가장 잘 맞는 협업 유형
        </div>
        <div class="row">
            <div class="col-sm-6" >
                <img class ="matchTypeImg" src="<%= type_match_img %>">
            </div>
            <div class="col-sm-6">
                <div class ="matchTypeRight">
                    <div class="matchTypeNameTitle"> 찰떡 피플 둘러보기 </div>
                    <div class ="matchTypeBtnGroup">

                        <script>
                            var i=1;
                            function chaltteok(direction, len) {
                                matchPP_len = len
                                len = Math.ceil(len/5); // 페이지

                                if(!direction){ // 왼쪽
                                    i--;
                                    if(!i) i = len;
                                }
                                else { // 오른쪽
                                    i++;
                                    if(i > len) i = 1;
                                }

                                var matchPP = '<%-JSON.stringify(matchPP)%>';
                                matchPP = JSON.parse(matchPP);

                                for(var k=0 , j = (i-1)*5; k < 5 ;j++, k++) {
                                    if(j  >= matchPP_len) {
                                        document.getElementById("pN"+k).innerHTML = "";
                                        document.getElementById("nN"+k).innerHTML = "";
                                    }
                                    else{
                                        document.getElementById("pN"+k).innerHTML = matchPP[j].user_part;
                                        document.getElementById("nN"+k).innerHTML = matchPP[j].user_name;
                                    }
                                }
                            }
                        </script>

                       <% if(matchPP.length > 5) {%>
                           <button type="button" class="matchBtn" onclick="chaltteok(0, <%= matchPP.length%>)"> <img src="../images/leftBtn.png" width="30px" height="60px"> </button>
                       <% } else { %>
                           <button type="button" class="matchBtn"> <img src="../images/leftBtn.png" width="0px" height="0px"> </button>
                       <% }%>

                        <table class ="matchTypeName">
                            <!--나랑 가장 잘 맞는 협업 유형 파트, 이름 -->
                            <% for(var i =0; i < 5 && i < matchPP.length; i++ ) {
                                var user_name = matchPP[i].user_name;
                                var user_part = matchPP[i].user_part; %>
                                <tr> <td class="partName" id="pN<%=i%>" > <%= user_part%> </td> <td class="nickName" id ="nN<%=i%>"> <%= user_name%> </td> </tr>
                            <%}%>
                        </table>

                        <% if(matchPP.length > 5) {%>
                            <button type="button" class="matchBtn" onclick="chaltteok(1, <%= matchPP.length%>)"> <img src="../images/rightBtn.png" width="30px" height="60px"> </button>
                        <% } else { %>
                            <button type="button" class="matchBtn"> <img src="../images/rightBtn.png" width="0px" height="0px"> </button>
                        <% }%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="share">
        <div class = "shareText">
            테스트 공유하기
        </div>
        <div class = "snsGroup">

<!--            <a href="javascript:;" id="kakao-link-btn">
                <img class="sns" src="../images/btn-share-cacaotalk.png"/>
            </a>-->

            <button type="button" onclick="location.href='javascript:;'" id="kakao-link-btn" style="border: none; background-color: transparent;">
                <img class="sns" src="../images/btn-share-cacaotalk.png">
            </button>

            <script>
                // 클립보드로 복사하는 기능을 생성
                function copyToClipboard(elementId) {
                    // 글을 쓸 수 있는 란을 만든다.
                    var aux = document.createElement("input");
                    // 지정된 요소의 값을 할당 한다.
                    aux.setAttribute("value", "http://52.79.86.164:3000");
                    // bdy에 추가한다.
                    document.body.appendChild(aux);
                    // 지정된 내용을 강조한다.
                    aux.select();
                    // 텍스트를 카피 하는 변수를 생성
                    document.execCommand("copy");
                    // body 로 부터 다시 반환 한다.
                    document.body.removeChild(aux);

                    alert("클립보드에 복사되었습니다.");
                }
            </script>
            <button type="button" onclick="copyToClipboard()" style="border: none; background-color: transparent;">
                <img class="sns" src="../images/btn-share-link.png">
            </button>


        </div>
    </div>
    </div>

    <div class ="btnAlign">
        <button class = "typeBtn" onclick="location.href='../diff_type'">
            다른 타입 구경하러 가기 </button>
    </div>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script type="text/javascript">
    //<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('f94b669607f479318ce1ab84dbe39ab4');
    // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createDefaultButton({
      container: '#kakao-link-btn', // 컨테이너는 아까 위에 버튼이 쓰여진 부분 id
      objectType: 'feed',
      content: { // 여기부터 실제 내용이 들어갑니다.
        title: '찰떡피플 : 협업 유형 테스트', // 본문 제목
        description: '내 협업 스타일, 그리고 나랑 일할 때 가장 찰떡인 사람들을 찰떡피플에서 찾아보세요!', // 본문 바로 아래 들어가는 영역?
        imageUrl: '<%= type_medium_img%>',
        link: {
        mobileWebUrl: 'http://52.79.86.164:3000',
        webUrl: 'http://52.79.86.164:3000'
        }
    },
    buttons: [{
        title: '테스트하러 가기',
        link: {
        mobileWebUrl: 'http://52.79.86.164:3000',
        webUrl: 'http://52.79.86.164:3000'
        }
    }]
    });
    //]]>
  </script>




</body>

</html>